.header {
    background: url("../img/header_bg.jpg") no-repeat top;
    // .header__top

    &__top {
    }

    // .header__bottom

    &__bottom {
    }
}
.top-header {
    // .top-header__content

    &__content {
        display: flex;
        align-items: center;
        height: 90px;
    }

    // .top-header__column

    &__column {
        //flex-grow, flex-shrink, and flex-basis.
        flex: 0 1 50%;
        &_logo {
            flex: 0 0 190px;
            padding: 25px 0 0 0;
            text-align: center;
            align-self: flex-start;
        }
    }

    // .top-header__logo

    &__logo {
    }

    // .top-header__contacts

    &__contacts {
    }
}
._container {
    // ._container

    &_container {
    }
}
.top {
    // .top__header-column

    &__header-column {
    }

    // .top__header-menu

    &__header-menu {
    }
}
.menu {
    // .menu__icon

    &__icon {
    }

    // .menu__body

    &__body {
    }

    // .menu__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        li {
            flex: 0 0 36%;
            margin: 1px -2%;
        }
    }

    // .menu__link

    &__link {
        font-family: Play;
        color: #fff;
        font-size: 14px;
        height: 27px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 22px;
        text-decoration: underline;
        border-radius: 20px;
        transition: all 0.3s ease 0s;
        // position: relative;
        // &:after {
        //     content: "";
        //     position: absolute;
        //     bottom: 4px;
        //     left: 50%;
        //     margin-left: -30%;
        //     height: 1px;
        //     background-color: #000;
        //     width: 60%;
        // }
        @media (min-width: $md2+px) {
            &:hover {
                text-decoration: underline;
                background-color: rgba(58, 58, 58, 0.096);
            }
        }
    }
}
.icon-menu {
}
.contacts-header {
    display: flex;
    justify-content: center;
    // .contacts-header__column

    &__column {
        border-right: 1px solid #fff;
        padding: 0 30px;
        &:last-child {
            border: none;
        }
    }

    // .contacts-header__item

    &__item {
        // .contacts-header__item_icon

        &_icon {
            background: url("../img/icons/phone.png") left no-repeat;
            padding: 0 0 0 37px;
        }
    }

    // .contacts-header__label

    &__label {
        font-size: 12px;
        font-weight: 300;
        color: #fff;
    }

    // .contacts-header__phone

    &__phone {
        font-size: 18px;
        font-weight: 900;
        color: #fff;
        // font-family: roboto;
    }
}
.bottom-header {
    // .bottom-header__container

    &__container {
        display: flex;
        height: 63px;
        align-items: center;
    }

    // .bottom-header__column

    &__column {
        flex: 0 1 50%;
    }

    // .bottom-header__actions

    &__actions {
    }

    // .bottom-header__info

    &__info {
    }
}
.actions-header {
    display: flex;
    align-items: center;
    li {
        margin: 0 54px 0 0;
        a {
            padding-left: 36px;
            display: inline-block;
        }
    }

    // .actions-header__login
    &__login {
        background: url("../img/icons/login.png") no-repeat left;
        color: #999;
        line-height: 24px;
        span {
            border-bottom: 1px dotted;
        }
    }

    // .actions-header__reg

    &__reg {
        background: url("../img/icons/head.png") no-repeat left;
        line-height: 34px;
        height: 34px;
    }

    // .actions-header__email

    &__email {
        background: url("../img/icons/email.png") no-repeat left;
        line-height: 24px;
    }
}
.info-header {
    // .info-header__column

    &__column {
    }

    // .info-header__callback

    &__callback {
    }

    // .info-header__schedule

    &__schedule {
    }

    // .info-header__cart

    &__cart {
    }
}
